
@{
    ViewBag.Title = "Class";
}
<body id="servicesPage">
    <section class="row" id="tmServices">
        <div class="col-12">
            
            <div class="tm-bg-black-transparent text-center tm-services-header tm-testimonials-header">
                <h2 class="text-uppercase tm-services-page-title tm-testimonials-page-title">My Classmates</h2>
                <hr class="tm-resume-hr">
            </div>
           
        </div>
    </section>
    <section class="row tm-testimonials-section">
        <div class="col-12 tm-carousel">
            <!-- Kendra Allen -->
            <a href="http://www.kendra-allen.com" target="_blank">
                <div class="tm-bg-black-transparent tm-testimonial-box text-center">
                    <div class="tm-person-img-container">
                        <img src="~/Content/img/classmates/kendra.jpg" alt="Image" class="img-classmate mx-auto" />
                    </div>
                    <h3 class="tm-about-name tm-uppercase">Kendra Allen</h3>
                </div>
            </a>
            <!-- Jasmyne Boggs -->
            <a href="http://www.coderjaz.com" target="_blank">
                <div class="tm-bg-black-transparent tm-testimonial-box text-center">
                    <div class="tm-person-img-container">
                        <img src="~/Content/img/classmates/jasmyne.jpg" alt="Image" class="img-classmate mx-auto" />
                    </div>
                    <h3 class="tm-about-name tm-uppercase">Jasmyne Boggs</h3>
                </div>
            </a>
            <!-- Jacob Brokaw -->
            <a href="http://www.nicholasbrokaw.com" target="_blank">
                <div class="tm-bg-black-transparent tm-testimonial-box text-center">
                    <div class="tm-person-img-container">
                        <img src="~/Content/img/classmates/jacob.jpg" alt="Image" class="img-classmate mx-auto" />
                    </div>
                    <h3 class="tm-about-name tm-uppercase">Jacob Brokaw</h3>
                </div>
            </a>
            <!-- Nicholas Brokaw -->
            <a href="http://www.jacobbrokaw.com" target="_blank">
                <div class="tm-bg-black-transparent tm-testimonial-box text-center">
                    <div class="tm-person-img-container">
                        <img src="~/Content/img/classmates/nicholas.jpg" alt="Image" class="img-classmate mx-auto" />
                    </div>
                    <h3 class="tm-about-name tm-uppercase">Nicholas Brokaw</h3>
                </div>
            </a>
            <!-- Brigette Havard -->
            <a href="http://www.brigettehavard.com" target="_blank">
                <div class="tm-bg-black-transparent tm-testimonial-box text-center">
                    <div class="tm-person-img-container">
                        <img src="~/Content/img/classmates/brigette.jpg" alt="Image" class="img-classmate mx-auto" />
                    </div>
                    <h3 class="tm-about-name tm-uppercase">Brigette Havard</h3>
                </div>
            </a>
            <!-- Dakota Jones -->
            <a href="http://www.dakotajones.net" target="_blank">
                <div class="tm-bg-black-transparent tm-testimonial-box text-center">
                    <div class="tm-person-img-container">
                        <img src="~/Content/img/classmates/dakota.png" alt="Image" class="img-classmate mx-auto" />
                    </div>
                    <h3 class="tm-about-name tm-uppercase">Dakota Jones</h3>
                </div>
            </a>
            <!-- Tristan Muzzy -->
            <a href="http://www.tmuzzy.com" target="_blank">
                <div class="tm-bg-black-transparent tm-testimonial-box text-center">
                    <div class="tm-person-img-container">
                        <img src="~/Content/img/classmates/tristan.jpg" alt="Image" class="img-classmate mx-auto" />
                    </div>
                    <h3 class="tm-about-name tm-uppercase">Tristan Muzzy</h3>
                </div>
            </a>
            <!-- Jessi Pearcy -->
            <a href="http://www.jessipearcy.com" target="_blank">
                <div class="tm-bg-black-transparent tm-testimonial-box text-center">
                    <div class="tm-person-img-container">
                        <img src="~/Content/img/classmates/jess.jpg" alt="Image" class="img-classmate mx-auto" />
                    </div>
                    <h3 class="tm-about-name tm-uppercase">Jessi Pearcy</h3>
                </div>
            </a>
            <!-- Justin Reiss -->
            <a href="http://www.justin-reiss.com" target="_blank">
                <div class="tm-bg-black-transparent tm-testimonial-box text-center">
                    <div class="tm-person-img-container">
                        <img src="~/Content/img/classmates/justin.jpg" alt="Image" class="img-classmate mx-auto" />
                    </div>
                    <h3 class="tm-about-name tm-uppercase">Justin Reiss</h3>
                </div>
            </a>
            <!-- Bruce Smith -->
            <a href="http://www.brucebsmith.net" target="_blank">
                <div class="tm-bg-black-transparent tm-testimonial-box text-center">
                    <div class="tm-person-img-container">
                        <img src="~/Content/img/classmates/bruce.jpg" alt="Image" class="img-classmate mx-auto" />
                    </div>
                    <h3 class="tm-about-name tm-uppercase">Bruce Smith</h3>
                </div>
            </a>
            <!-- Kaeleigh Warrick-Hansen -->
            <a href="http://www.kmackenziedev.com" target="_blank">
                <div class="tm-bg-black-transparent tm-testimonial-box text-center">
                    <div class="tm-person-img-container">
                        <img src="~/Content/img/classmates/kae.jpg" alt="Image" class="img-classmate mx-auto" />
                    </div>
                    <h3 class="tm-about-name tm-uppercase">Kaeleigh Warrick-Hansen</h3>
                </div>
            </a>
            <!-- Nathan Whitlock -->
            <a href="http://www.natewhitlock.com" target="_blank">
                <div class="tm-bg-black-transparent tm-testimonial-box text-center">
                    <div class="tm-person-img-container">
                        <img src="~/Content/img/classmates/nathan.jpg" alt="Image" class="img-classmate mx-auto" />
                    </div>
                    <h3 class="tm-about-name tm-uppercase">Nathan Whitlock</h3>
                </div>
            </a>
        </div>


    </section>
</body>
@section scripts{
<script>
        $(function () {
            $('.tabgroup > div').hide();
            $('.tabgroup > div:first-of-type').show();
            $('.tabs a').click(function (e) {
                e.preventDefault();
                var $this = $(this),
                    tabgroup = '#' + $this.parents('.tabs').data('tabgroup'),
                    others = $this.closest('li').siblings().children('a'),
                    target = $this.attr('href');
                others.removeClass('active');
                $this.addClass('active');
                $(tabgroup).children('div').hide();
                $(target).show();

                // Scroll to tab content (for mobile)
                if ($(window).width() < 992) {
                    $('html, body').animate({
                        scrollTop: $("#first-tab-group").offset().top
                    }, 200);
                }
            })

            $('.tm-carousel').slick({
                dots: true,
                infinite: false,
                arrows: false,
                speed: 300,
                autoplay: true,
                autoplaySpeed: 2000,
                slidesToShow: 3,
                slidesToScroll: 2,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            arrows: false,
                            slidesToShow: 2,
                            slidesToScroll: 1,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            arrows: false,
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            arrows: false,
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                    // You can unslick at a given breakpoint now by adding:
                    // settings: "unslick"
                    // instead of a settings object
                ]
            });
        });

</script>

    }