
@{
    ViewBag.Title = "My Portfolio";
}



    <section class="row" id="tmServices">
        <div class="col-12">
               <div class="tm-bg-black-transparent text-center tm-services-header">
                <h2 class="text-uppercase tm-services-page-title">@ViewBag.Title</h2>
                <hr class="tm-resume-hr">
            </div>
           
        </div>

        <div class="col-12 tm-tabs-container">
            <div class="tm-tab-links">
                @* ----------------- PORTFOLIO TABS ----------------- *@
                <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                    <li>
                        <a href="#tab1" class="active">
                            <div class="icon-wrap"><i class="fas fa-2x fa-globe"></i></div>
                            WEB PROJECTS
                        </a>
                    </li>
                    <li>
                        <a href="#tab2" class="">
                            <div class="icon-wrap"><i class="fas fa-2x fa-bullhorn"></i></div>
                            MARKETING &amp; ADVERTISING
                        </a>
                    </li>
                    <li>
                        <a href="#tab3" class="">
                            <div class="icon-wrap"><i class="fas fa-2x fa-video"></i></div>
                            VIDEO PROJECTS
                        </a>
                    </li>
                    <li>
                        <a href="#tab4" class="">
                            <div class="icon-wrap"><i class="fas fa-2x fa-paint-brush"></i></div>
                            LOGO DESIGN
                        </a>
                    </li>
                    <li>
                        <a href="#tab5" class="">
                            <div class="icon-wrap"><i class="fas fa-2x fa-envelope-open-text"></i></div>
                            EVENT PLANNING
                        </a>
                    </li>
                </ul>
            </div>
            @* ----------------- PORTFOLIO CONTENTS ----------------- *@
            <div class="tm-tab-contents">
                <div id="first-tab-group" class="tabgroup">
                    <div id="tab1">
                        <div class="text-content">
                            <h3 class="tm-service-tab-title">WEB PROJECTS</h3>
                            <div class="tm-service-tab-p">
                                <div class=" row">
                                    @* ----------------- CRYSTAL COLLECTOR ----------------- *@
                                    <a class=" gallery-item web" href="https://rpunches.github.io/week-4-game/" target="_blank">
                                        <div class="col webBox">
                                            <img src="~/Content/img/Web/crystal.png" />
                                            <p>Crystal Collector Game</p>
                                        </div>
                                    </a>
                                    @* ----------------- MOVIE QUOTE GAME ----------------- *@
                                    <a class=" gallery-item web" href="https://rpunches.github.io/TriviaGame/" target="_blank">
                                        <div class="col webBox">
                                            <img src="~/Content/img/Web/moviequote.jpg" />
                                            <p>Movie Quote Game</p>
                                        </div>
                                    </a>
                                    @* ----------------- PSYCHIC GAME ----------------- *@
                                    <a class=" gallery-item web" href="https://https://rpunches.github.io/Psychic-Game/" target="_blank">
                                        <div class="col webBox">
                                            <img src="~/Content/img/Web/psychic.png" />
                                            <p>Psychic Game</p>
                                        </div>
                                    </a>
                                    @* ----------------- TRAIN SCHDEULER APP ----------------- *@
                                    <a class=" gallery-item web" href="https://rpunches.github.io/Train-Scheduler/" target="_blank">
                                        <div class="col webBox">
                                            <img src="~/Content/img/Web/train.jpg" />
                                            <p>Train Scheduler App</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="tab2">
                        <div class="text-content">
                            <h3 class="tm-service-tab-title">MARKETING &amp; ADVERTISING</h3>
                            <div class="tm-service-tab-p">
                                <div class=" row">
                                    @* ----------------- MARKETING MATERIALS GALLERY ----------------- *@
                                    <a class="gallery-item marketing" data-fancybox="materialsGallery" href="~/Content/img/MA/Materials/Brochures/DBG 2.0-1.jpg" data-caption="Daycare Brochure - Outside">
                                        <div class="marketingBox">
                                            <img src="~/Content/img/MA/Materials/Brochures/brochurethumb.jpg" />
                                            <p>Marketing Materials Gallery</p>
                                        </div>
                                    </a>
                                    <div>
                                        <a data-fancybox="materialsGallery" href="~/Content/img/MA/Materials/Brochures/DBG 2.0-2.jpg" data-caption="Daycare Brochure - Inside"></a>
                                        <a data-fancybox="materialsGallery" href="~/Content/img/MA/Materials/Brochures/rightoutside.jpg" data-caption="Is Daycare Right For Your Dog? - Outside"></a>
                                        <a data-fancybox="materialsGallery" href="~/Content/img/MA/Materials/Brochures/rightinside.jpg" data-caption="Is Daycare Right For Your Dog? - Inside"></a>
                                        <a data-fancybox="materialsGallery" href="~/Content/img/MA/Materials/vacation card front.jpg" data-caption="Connect Care Information Card - Front"></a>
                                        <a data-fancybox="materialsGallery" href="~/Content/img/MA/Materials/vacation card back.jpg" data-caption="Connect Care Information Card - Back"></a>
                                        <a data-fancybox="materialsGallery" href="~/Content/img/MA/Materials/Grooming Card Front.jpg" data-caption="Grooming Marketing Card - Front"></a>
                                        <a data-fancybox="materialsGallery" href="~/Content/img/MA/Materials/Grooming Card Back.jpg" data-caption="Grooming Marketing Card - Back"></a>
                                        <a data-fancybox="materialsGallery" href="~/Content/img/MA/Materials/new dda Business Card ranch.png" data-caption="Dog Day Afternoon Business Card - Ranch"></a>
                                        <a data-fancybox="materialsGallery" href="~/Content/img/MA/Materials/Training Posters.jpg" data-caption="Training Posters for Staff"></a>
                                        <a data-fancybox="materialsGallery" href="~/Content/img/MA/Materials/Lobby Rules Poster-01.png" data-caption="Rules for Lobby"></a>
                                        <a data-fancybox="materialsGallery" href="~/Content/img/MA/Materials/Lobby Rules Poster-02.png" data-caption="Rules for Lobby"></a>
                                        <a data-fancybox="materialsGallery" href="~/Content/img/MA/Materials/Lobby Rules Poster-03.png" data-caption="Rules for Lobby"></a>
                                    </div>
                                    @* ----------------- PRINT AD GALLERY ----------------- *@
                                    <a class="gallery-item marketing" data-fancybox="printAdGallery" href="~/Content/img/MA/Advertising/Print Ads/1.jpg">
                                        <div class="marketingBox">
                                            <img src="~/Content/img/MA/Advertising/Print Ads/reythumb.jpg" />
                                            <p>Print Ads</p>
                                        </div>
                                    </a>
                                    <div>
                                        <a data-fancybox="printAdGallery" href="~/Content/img/MA/Advertising/Print Ads/2.jpg"></a>
                                        <a data-fancybox="printAdGallery" href="~/Content/img/MA/Advertising/Print Ads/3.jpg"></a>
                                        <a data-fancybox="printAdGallery" href="~/Content/img/MA/Advertising/Print Ads/4.jpg"></a>
                                        <a data-fancybox="printAdGallery" href="~/Content/img/MA/Advertising/Print Ads/5.jpg"></a>
                                        <a data-fancybox="printAdGallery" href="~/Content/img/MA/Advertising/Print Ads/6.jpg"></a>
                                        <a data-fancybox="printAdGallery" href="~/Content/img/MA/Advertising/Print Ads/7.jpg"></a>
                                        <a data-fancybox="printAdGallery" href="~/Content/img/MA/Advertising/Print Ads/8.jpg"></a>
                                        <a data-fancybox="printAdGallery" href="~/Content/img/MA/Advertising/Print Ads/9.jpg"></a>
                                        <a data-fancybox="printAdGallery" href="~/Content/img/MA/Advertising/Print Ads/10.jpg"></a>
                                        <a data-fancybox="printAdGallery" href="~/Content/img/MA/Advertising/Print Ads/11.jpg"></a>
                                        <a data-fancybox="printAdGallery" href="~/Content/img/MA/Advertising/Print Ads/12.jpg"></a>
                                        <a data-fancybox="printAdGallery" href="~/Content/img/MA/Advertising/Print Ads/13.jpg"></a>
                                        <a data-fancybox="printAdGallery" href="~/Content/img/MA/Advertising/Print Ads/14.jpg"></a>
                                        <a data-fancybox="printAdGallery" href="~/Content/img/MA/Advertising/Print Ads/15.jpg"></a>
                                        <a data-fancybox="printAdGallery" href="~/Content/img/MA/Advertising/Print Ads/16.jpg"></a>
                                    </div>
                                    @* ----------------- WEB AD/FACEBOOK GALLERY ----------------- *@
                                    <a class="gallery-item marketing" data-fancybox="webAdGallery" href="~/Content/img/MA/FBP/gallery/1.jpg">
                                        <div class="marketingBox">
                                            <img src="~/Content/img/MA/FBP/webadthumb.jpg" />
                                            <p>Web Ads &amp; Facebook Posts</p>
                                        </div>
                                    </a>
                                    <div>
                                        <a data-fancybox="webAdGallery" href="~/Content/img/MA/FBP/gallery/2.jpg"></a>
                                        <a data-fancybox="webAdGallery" href="~/Content/img/MA/FBP/gallery/3.jpg"></a>
                                        <a data-fancybox="webAdGallery" href="~/Content/img/MA/FBP/gallery/4.jpg"></a>
                                        <a data-fancybox="webAdGallery" href="~/Content/img/MA/FBP/gallery/5.jpg"></a>
                                        <a data-fancybox="webAdGallery" href="~/Content/img/MA/FBP/gallery/6.jpg"></a>
                                        <a data-fancybox="webAdGallery" href="~/Content/img/MA/FBP/gallery/7.jpg"></a>
                                        <a data-fancybox="webAdGallery" href="~/Content/img/MA/FBP/gallery/8.png"></a>
                                        <a data-fancybox="webAdGallery" href="~/Content/img/MA/FBP/gallery/9.jpg"></a>
                                        <a data-fancybox="webAdGallery" href="~/Content/img/MA/FBP/gallery/10.jpg"></a>
                                        <a data-fancybox="webAdGallery" href="~/Content/img/MA/FBP/gallery/22.jpg"></a>
                                        <a data-fancybox="webAdGallery" href="~/Content/img/MA/FBP/gallery/11.jpg"></a>
                                        <a data-fancybox="webAdGallery" href="~/Content/img/MA/FBP/gallery/12.jpg"></a>
                                        <a data-fancybox="webAdGallery" href="~/Content/img/MA/FBP/gallery/13.jpg"></a>
                                        <a data-fancybox="webAdGallery" href="~/Content/img/MA/FBP/gallery/14.jpg"></a>
                                        <a data-fancybox="webAdGallery" href="~/Content/img/MA/FBP/gallery/15.jpg"></a>
                                        <a data-fancybox="webAdGallery" href="~/Content/img/MA/FBP/gallery/16.jpg"></a>
                                        <a data-fancybox="webAdGallery" href="~/Content/img/MA/FBP/gallery/17.jpg"></a>
                                        <a data-fancybox="webAdGallery" href="~/Content/img/MA/FBP/gallery/18.jpg"></a>
                                        <a data-fancybox="webAdGallery" href="~/Content/img/MA/FBP/gallery/19.jpg"></a>
                                        <a data-fancybox="webAdGallery" href="~/Content/img/MA/FBP/gallery/20.jpg"></a>
                                        <a data-fancybox="webAdGallery" href="~/Content/img/MA/FBP/gallery/21.jpg"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab3">
                        <div class="text-content">
                            <h3 class="tm-service-tab-title">VIDEO PROJECTS</h3>
                            <div class="tm-service-tab-p">
                                <div class=" row">
                                    @* ----------------- DOG DAY VIDEO ----------------- *@
                                    <a class=gallery-item data-fancybox="video" href="https://youtu.be/pKzG2dFyzmg">
                                        <div class="col-12 videoBox">
                                            <img src="~/Content/img/Video/thunder.jpg" />
                                            <p>Dog Day Afternoon Behind-the-Scenes Video</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab4">
                        <div class="text-content">
                            <h3 class="tm-service-tab-title">LOGO DESIGN</h3>
                            <div class="tm-service-tab-p">
                                <div class=" row">
                                    @* ----------------- MCNEIVE LOGO ----------------- *@
                                    <a class="gallery-item" href="~/Content/img/Logo/McNeive Liquor Logo.jpg" data-fancybox>
                                        <div class="col logoBox">

                                            <img src="~/Content/img/Logo/liquorthumb.jpg" />
                                            <p>
                                                Logo Samples<br />
                                                <strong>McNeive Liquor</strong>
                                            </p>

                                        </div>
                                    </a>
                                    @* ----------------- DDA LOGO REDESIGN ----------------- *@

                                    <a class="gallery-item" href="~/Content/img/Logo/Dog Trio 2017.jpg" data-fancybox>
                                        <div class="col logoBox">
                                            <img src="~/Content/img/Logo/dogtriothumb.jpg" />
                                            <p>
                                                Company Logo <br />
                                                <strong>Dog Day Afternoon</strong>
                                            </p>
                                        </div>
                                    </a>

                                    @* ----------------- RANCH LOGO REDESIGN ----------------- *@

                                    <a class="gallery-item logo" data-fancybox="ranchGallery" href="~/Content/img/Logo/ranch/1.jpg">
                                        <div class="col logoBox">

                                            <img src="~/Content/img/Logo/ranch/ranchthumb.jpg" />
                                            <p>
                                                Ranch Logo Re-Design<br />
                                                <strong>Dog Day Afternoon</strong>
                                            </p>
                                        </div>
                                    </a>


                                    <a data-fancybox="ranchGallery" href="~/Content/img/Logo/ranch/2.jpg"></a>
                                    <a data-fancybox="ranchGallery" href="~/Content/img/Logo/ranch/3.jpg"></a>
                                    <a data-fancybox="ranchGallery" href="~/Content/img/Logo/ranch/4.jpg"></a>
                                    <a data-fancybox="ranchGallery" href="~/Content/img/Logo/ranch/5.jpg"></a>
                                    <a data-fancybox="ranchGallery" href="~/Content/img/Logo/ranch/6.jpg"></a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="tab5">
                        <div class="text-content">
                            <h3 class="tm-service-tab-title">EVENT PLANNING</h3>
                            <div class="tm-service-tab-p">
                                <div class=" row">
                                    @* ----------------- BRIDAL FAIR GALLERY ----------------- *@
                                    <a class="gallery-item events" data-fancybox="bridalGallery" href="~/Content/img/Events/Bridal/IDO.jpg">
                                        <div class="col eventBox">
                                            <img src="~/Content/img/Events/Bridal/musthumb.jpg" />
                                            <p>
                                                Bridal Fair<br />
                                                <strong>Dog Day Afternoon</strong>
                                            </p>
                                        </div>
                                    </a>
                                    <a data-fancybox="bridalGallery" href="~/Content/img/Events/Bridal/1.jpg" title="2016 Staff"></a>
                                    <a data-fancybox="bridalGallery" href="~/Content/img/Events/Bridal/2.jpg" title="2016 Staff"></a>
                                    <a data-fancybox="bridalGallery" href="~/Content/img/Events/Bridal/3.jpg" title="2017 Staff"></a>
                                    <a data-fancybox="bridalGallery" href="~/Content/img/Events/Bridal/4.jpg" title="2016 Setup"></a>
                                    <a data-fancybox="bridalGallery" href="~/Content/img/Events/Bridal/6.jpg" title="2016 Turf Display"></a>
                                    <a data-fancybox="bridalGallery" href="~/Content/img/Events/Bridal/7.jpg" title="2016 Picture and Bandanna Display Table"></a>
                                    <a data-fancybox="bridalGallery" href="~/Content/img/Events/Bridal/8.jpg" title="2017 Display"></a>
                                    <a data-fancybox="bridalGallery" href="~/Content/img/Events/Bridal/9.jpg" title="2017 Display"></a>
                                    <a data-fancybox="bridalGallery" href="~/Content/img/Events/Bridal/10.jpg" title="2017 Daycare Info Table"></a>
                                    <a data-fancybox="bridalGallery" href="~/Content/img/Events/Bridal/11.jpg" title="2017 TV Display"></a>
                                    <a data-fancybox="bridalGallery" href="~/Content/img/Events/Bridal/12.jpg" title="2017 Boarding Giveaway"></a>
                                    <a data-fancybox="bridalGallery" href="~/Content/img/Events/Bridal/13.jpg" title="2017 Bandannas"></a>
                                    <a data-fancybox="bridalGallery" href="~/Content/img/Events/Bridal/14.jpg" title="2017 Whisper Model"></a>
                                    @* ----------------- PICTURE EVENT GALLERY ----------------- *@
                                    <a class="gallery-item events" data-fancybox="pictureGallery" href="~/Content/img/Events/Picture Events/Tonks.jpg">

                                        <div class="col eventBox">
                                            <img src="~/Content/img/Events/Picture Events/picthumb.jpg" />
                                            <p>
                                                Annual Holiday Picture Events<br />
                                                <strong>Dog Day Afternoon</strong>
                                            </p>
                                        </div>
                                    </a>
                                    <a data-fancybox="pictureGallery" href="~/Content/img/Events/Picture Events/Wally B.jpg" data-caption="Grinchmas Picture with greenscreen editing"></a>
                                    <a data-fancybox="pictureGallery" href="~/Content/img/Events/Picture Events/Luna461.jpg" data-caption="Grinchmas Picture with greenscreen editing"></a>
                                    <a data-fancybox="pictureGallery" href="~/Content/img/Events/Picture Events/Finn.jpg" data-caption="Kissing Booth 2016"></a>
                                    <a data-fancybox="pictureGallery" href="~/Content/img/Events/Picture Events/Mus bowtie.jpg" data-caption="Kissing Booth 2017"></a>
                                    <a data-fancybox="pictureGallery" href="~/Content/img/Events/Picture Events/Ranch Collage.jpg" data-caption="Class Picture Collage 2016"></a>
                                    <a data-fancybox="pictureGallery" href="~/Content/img/Events/Picture Events/Archer.jpg" data-caption="Class Picture Collage 2016"></a>
                                    <a data-fancybox="pictureGallery" href="~/Content/img/Events/Picture Events/Tim.jpg" data-caption="Class Picture Collage 2016"></a>
                                    <a data-fancybox="pictureGallery" href="~/Content/img/Events/Picture Events/Louie.jpg" data-caption="Class Picture Collage 2016"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

@section scripts{
<script>

    $('.parallax-window').parallax({ imageSrc: '../img/coffee-glass.jpg' });

        $(function () {
            $('.tabgroup > div').hide();
            $('.tabgroup > div:first-of-type').show();
            $('.tabs a').click(function (e) {
                e.preventDefault();
                var $this = $(this),
                    tabgroup = '#' + $this.parents('.tabs').data('tabgroup'),
                    others = $this.closest('li').siblings().children('a'),
                    target = $this.attr('href');
                others.removeClass('active');
                $this.addClass('active');
                $(tabgroup).children('div').hide();
                $(target).show();

                // Scroll to tab content (for mobile)
                if ($(window).width() < 992) {
                    $('html, body').animate({
                        scrollTop: $("#first-tab-group").offset().top
                    }, 200);
                }
            })

            $(document).ready(function () {
                // assign captions from title-attributes:
                $("[data-fancybox]").each(function () {
                    $(this).attr("data-caption", $(this).attr("title"));
                });
                // start fancybox on all elements with attribute 'data-fancybox':
                $("[data-fancybox]").fancybox();
            });

        });

     


    </script>
}