
@{
    ViewBag.Title = "Resume";
}

<!-- RESUME -->
<section class="row" id="tmAbout">
    <div class="col-12">
        <div class="tm-bg-black-transparent text-center tm-services-header">
            <h2 class="text-uppercase text-center text-white tm-about-page-title">My Resume</h2>
            <hr class="tm-resume-hr">
        </div>
    </div>
</section>

    <div class="row">
        <div class="col-lg-6">
            <div class="tm-bg-black-transparent tm-about-box">
                <!--<div class="tm-about-number-container"></div>-->
                <h3 class="tm-about-name"><i class="fas fa-graduation-cap"></i> Education Experience</h3>
                <h4 class="strongFont">Centriq Training | Kansas City, MO</h4>
                <p class="tm-about-description">
                    <ul>
                        <span class="text-uppercase negMargin">Full Stack Web Developer Program</span>
                        <li>Integer dapibus aliquam accumsan. </li>
                        <li>Nam diam elit, mollis quis elit sed, hendrerit dapibus eros.</li>
                        <li>Cras auctor laoreet tortor eget.</li>
                    </ul>
                </p>
                <h4 class="strongFont">University of Kansas | Overland Park, KS</h4>
                <p class="tm-about-description">
                    <ul class="text-uppercase negMargin">Full Stack Web Developer Program</ul>
                </p>

                <h4 class="strongFont">University of Kansas | Lawrence, KS</h4>
                <p class="tm-about-description">
                    <ul class="text-uppercase negMargin">Bachelor's Degree - Communications Studies</ul>
                </p>
            </div>
            <div class="tm-bg-black-transparent tm-about-box">
                <!--<div class="tm-about-number-container">0.1</div>-->
                <!-- TECHNICAL SKILLS -->
                <h3 class="tm-about-name"><i class="far fa-keyboard"></i> Technical Skills</h3>
                <p class="tm-about-description">
                    <ul>
                        <span class="text-uppercase negMargin">Front End</span>
                        <li>HTML5, JavaScript, jQuery, jQueryUI, CSS3, Responsive/Mobile Web Development, Bootstrap, ReactJS </li>
                        <span class="text-uppercase negMargin">Middle End</span>
                        <li>Visual Studio, C#.NET, ASP.NET, LINQ, MVC, EF  </li>
                        <span class="text-uppercase negMargin">Back End</span>
                        <li>ADO.NET, SQL, SQL Server, SSMSE </li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="tm-bg-black-transparent tm-about-box">
                <!--<div class="tm-about-number-container">0.2</div>-->
                <h3 class="tm-about-name"><i class="fas fa-briefcase"></i> Professional Experience</h3>
                <!-- HOME SWEET HOME -->
                <h4 class="strongFont">Home Sweet Home | Lawrence, KS</h4>
                <p class="tm-about-description">
                    <ul>
                        <span class="text-uppercase negMargin">Social Media Manager</span>
                        <li>Employed social media strategies to promote company's products and services.</li>
                        <li>Created, posted, and managed updates and responses for all online social media content. </li>
                        <li>Created exciting promotions, contests, and original content in line with company goals. </li>
                    </ul>
                </p>
                <!-- AHNA -->
                <h4 class="strongFont">American Holistic Nurses Assoc. | Topeka, KS</h4>
                <p class="tm-about-description">
                    <ul>
                        <span class="text-uppercase negMargin">Events &amp; Promotions Coordinator</span>
                        <li>Promoted special events and coordinated advertising solicitation and placement on the website, electronic newsletter and Beginnings Magazine. </li>
                        <li>Coordinated annual conference-related activities in conjunction with the Executive Director, Director of Operations, Education Assistant, and Committee.</li>
                        <li>Managed AHNA marketing and event promotions and worked with the Executive Director and Director of Operations to ensure procedures were followed and that the website was updated. </li>
                    </ul>
                </p>

                <!-- DOG DAY AFTERNOON -->
                <h4 class="strongFont">Dog Day Afternoon | Topeka, KS</h4>
                <p class="tm-about-description">
                    <ul>
                        <span class="text-uppercase negMargin">Marketing &amp; Events Manager</span>
                        <li>Leveraged creative tools, designed innovative content and strategies to increase on-line traffic.  </li>
                        <li>Formulated innovative marketing strategies to increase brand awareness and elevate sales. </li>
                        <li>Developed all promotional materials for work such as brochures and posters. </li>
                    </ul>
                </p>

                <!--<a href="#tmFeatures" class="btn btn-tertiary tm-btn-app-feature">More</a>-->
            </div>
        </div>
    </div>    <!-- MILITARY -->

    <div class="col-lg-12">
        <div class="tm-bg-black-transparent tm-about-box">
            <!--<div class="tm-about-number-container">0.2</div>-->
            <h3 class="tm-about-name"><i class="fas fa-flag-usa"></i> Military Experience</h3>
            <h4 class="strongFont">Army National Guard</h4>
            <p class="tm-about-description">
                <ul>
                    <span class="text-uppercase negMargin">Sergeant | Heavy Equipment Vehicle Operator</span>
                    <li>Efficient on operating a heavy equipment vehicle.</li>
                    <li>
                        In charge of a variety of tasks when assigned to me including trucks maintenance checks,
                        basic issues items inventory conducting after action reports.
                    </li>
                </ul>

                <ul>
                    <span class="negMargin">Deployed to Kuwait | December 2010 - October 2011</span>
                    <li>
                        Execute multiple missions as lead vehicle commander and liaison to third country nationals
                        throughout the countries of Kuwait and Iraq
                    </li>
                    <li>
                        Performed maintenance checks and services on trucks and trailers, bringing them up to
                        mission standard.
                    </li>
                </ul>

                <ul>
                    <span class="negMargin">Deployed to Louisiana | September 2008</span>
                    <li>Aided in Hurricane Gustav relief.</li>
                    <li>Distributed food, water, ice and power generators to local communities.</li>
                </ul>

                <ul>
                    <span class="negMargin">Deployed to Iraq | October 2004 - November 2005</span>
                    <li>
                        Conducted over 40 combat missions throughout the country of Iraq in support of Operation
                        Enduring Freedom.
                    </li>
                    <li>
                        Recipient of Army Commendation Medal, National Defense Service Medal, Army Service Ribbon,
                        Overseas Service Ribbon, Armed Forces Reserve Medal, Global War on Terrorism Expeditionary
                        Medal, Global War on Terrorism Service Medal.
                    </li>
                </ul>
                </ul>
            </p>
            <!--<a href="#tmFeatures" class="btn btn-tertiary tm-btn-app-feature">More</a>-->
        </div>
    </div>



    <!-- ID PROJECTS -->
    <section id="tmAppFeatures">
        <div class="row">
            <header class="col-12 text-center text-white tm-bg-black-transparent p-5 tm-app-header">
                <h2 class="text-uppercase mb-3 tm-app-feature-header">Independent Development Projects</h2>
                <p class="mb-0 small">These are website projects I have worked on through my time at Centriq Training program.  Some are still in progress so please check back again for updates!</p>
            </header>
        </div>
        <div class="row">
            <!-- PERSONAL SITE -->
            <div class="col-lg-6">
                <div class="tm-bg-white-transparent tm-app-feature-box">
                    <div class="tm-app-feature-icon-container">
                        <i class="fas fa-3x fa-laptop tm-app-feature-icon"></i>
                    </div>
                    <div class="tm-app-feature-description-box">
                        <h3 class="mb-4 tm-app-feature-title">Personal Website</h3>
                        <p class="tm-app-feature-description">My personal portfolio website was created using a template designed by TemplateMo. I added a JavaScript element called "fancybox" on the portfolio page for the media pop-ups and galleries.</p>
                    </div>
                </div>
            </div>
            <!-- STORE FRONT -->
            <div class="col-lg-6">
                <div class="tm-bg-white-transparent tm-app-feature-box">
                    <div class="tm-app-feature-icon-container">
                        <i class="fas fa-3x fa-store-alt tm-app-feature-icon"></i>
                    </div>
                    <div class="tm-app-feature-description-box">
                        <h3 class="mb-4 tm-app-feature-title">StoreFront Application</h3>
                        <p class="tm-app-feature-description"> Created a secure application for managing product data. Application is built to simulate an online store front with a shopping cart. Administrators have the ability to manage product, category and vendor data. </p>
                        <a href="http://storefront.rachelpunches.com" target="_blank"><h5 style="color:#CCA014; text-decoration: none;"><strong>movieStore <i class="fas fa-external-link-alt"></i></strong> </h5></a>

                    </div>
                </div>
            </div>
            <!-- SAT ADMIN TOOL -->
            <div class="col-lg-6">
                <div class="tm-bg-white-transparent tm-app-feature-box">
                    <div class="tm-app-feature-icon-container">
                        <i class="fas fa-3x fa-calendar-alt tm-app-feature-icon"></i>
                    </div>
                    <div class="tm-app-feature-description-box">
                        <h3 class="mb-4 tm-app-feature-title">S.A.T. Administration Tool</h3>
                        <p class="tm-app-feature-description underConst">Created a secure application for managing product data. Application is built to simulate an online class scheduling system.  Administrators will have the ability to manage students, courses, scheduled classes, and enrollments. </p>
                        <h5><strong><i class="fas fa-tools"></i> Under Construction <i class="fas fa-tools"></i></strong> </h5>

                    </div>
                </div>
            </div>
            <!-- FINAL PROJECT -->
            <div class="col-lg-6">
                <div class="tm-bg-white-transparent tm-app-feature-box">
                    <div class="tm-app-feature-icon-container">
                        <i class="fas fa-3x fa-check tm-app-feature-icon"></i>
                    </div>
                    <div class="tm-app-feature-description-box">
                        <h3 class="mb-4 tm-app-feature-title">Final Project</h3>
                        <p class="tm-app-feature-description underConst"> Created a secure data-driven ASP.NET MVC application from design through deployment for managing the tracking and organization of hardware and software within a company. Administrators have the ability to manage employee, department data and all details relating to assigned hardware and software. </p>
                        <h5><strong><i class="fas fa-tools"></i> Under Construction <i class="fas fa-tools"></i></strong> </h5>

                    </div>
                </div>
            </div>
        </div>

    </section>

